.main-card {
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    width: 12vw;
    border: 2px solid #fff;
    border-radius: 8px;
    gap: 20px;
    padding: 3px;
    background-color: #ffffff;
    background: linear-gradient( #fff, #f6f1c1 75%, #ffcc40 99%);
}
.image-frame {
    width: 100%; 
    height: auto; 
    overflow: hidden; 
  }
@font-face {
  font-family: 'Montserrat';
  src: url('../../../fonts/Montserrat-Thin.eot'); /* IE9 Compat Modes */
  src: 
      url('../../../fonts/Montserrat-Thin.woff2') format('woff2'), /* Super Modern Browsers */
      url('../../../fonts/Montserrat-Thin.woff') format('woff'), /* Pretty Modern Browsers */
      url('../../../fonts/Montserrat-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
      url('../../../fonts/Montserrat-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */

}
.image {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 8px ;
}
.title {
  font-family: 'Montserrat';
  font-weight: bolder;
  font-size: 22px;

}
.description {
  font-family: 'Montserrat';

}
